:root {
  --text-clr:#142238;
  --clr-hover: #AE917C;
  --sans-light: 'TheSansArabic-Light';
  --sans-bold: 'TheSans-Bold';
  --sans-plan: 'TheSans-Plain';
}
@font-face {
    font-family: 'TheSansArabic-Light';
    src: url('../fonts/TheSansArabic-Light.woff2') format('woff2'),
         url('../fonts/TheSansArabic-Light.woff') format('woff');
}
@font-face {
    font-family: 'TheSans-Bold';
    src: url('../fonts/TheSans-Bold.woff2') format('woff2'),
         url('../fonts/TheSans-Bold.woff') format('woff');
}
@font-face {
    font-family: 'TheSans-Plain';
    src: url('../fonts/TheSans-Plain.woff2') format('woff2'),
         url('../fonts/TheSans-Plain.woff') format('woff');
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body{
  font-weight: 400;
  font-family: var(--sans-light);
  height: 100%;
  color: var(--text-clr);
}

p{
    font-size: 18px;
    font-family: var(--sans-light);
}

h1,h2,h2,h3,h4,h5,h6{
    font-family: var(--sans-plan);
}

a{
  text-decoration: none;
  color: var(--text-clr);
  transition: 0.3s;
}

.form-label{
    color: var(--default-text-clr);
    font-family: var(--sans-plan);
    display: flex;
    align-items: center;
    gap: 5px;
}
.form-label .fa-star-of-life{
    color: #f10606;
    font-size: 8px;
}
.form-control[type=file]{
    height: 38px;
}
.form-select{
    height: 45px;
    border-radius: 0;
    border-color: #8A919C4D;
}
.form-control{
    height: 45px;
    border-radius: 0;
    border-color: #8A919C4D;
    text-align: right;
}
textarea.form-control{
    height: 100px;
    resize: none;
}
.form-select:focus , .form-control:focus , .accordion-button:focus{
    border-color: var(--text-clr);
    box-shadow: 0 0 0 .20rem rgb(20 34 56 / 30%);
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.py-80{
    padding-top: 80px;
    padding-bottom: 80px;
}

.btn-light{
    border: 1px solid #fff;
    border-radius: 0px;
    padding: 13px 15px;
    background: none;
    color: #fff;
}

.btn-light:hover{
    background: var(--text-clr);
    border-color: var(--text-clr);
    color: #fff;
}

.btn-primary{
    border: 1px solid var(--text-clr);
    border-radius: 0px;
    padding: 13px 30px;
    background: var(--text-clr);
    color: #fff;
}

.btn-primary:hover{
    background: var(--clr-hover);
    border: 1px solid var(--clr-hover);
}

.btn-secondary{
    background: var(--clr-hover);
    border-color: var(--clr-hover);
    border-radius: 0px;
    padding: 13px 15px;
}
.btn-secondary:hover{
    background: var(--text-clr);
    border-color: var(--text-clr);
}

.container-fluid{
    padding-right: 50px;
    padding-left: 50px;
}

.header{
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 10;
}

.header.scroll-up{
    position: fixed;
    background: #fff;
    border-bottom: 1px solid rgb(0 0 0 / 12%);
}
.header.scroll-up .nav-item .nav-link{
    color: var(--text-clr);
}
.header .navbar-brand .logo-blue{
    display: none;
}
.header.scroll-up .navbar-brand .logo-blue{
    display: block;
}
.header.scroll-up .navbar-brand .logo-white{
    display: none;
}
.header.scroll-up .btn-light{
    color: var(--text-clr);
    border: 1px solid var(--text-clr);
}
.header.scroll-up .btn-light:hover,.header.inner-header .btn-light:hover{
    color: #fff;
}
.header.scroll-up .nav-item .nav-link:hover{
    color: var(--clr-hover);
}
.header.inner-header{
    position: static;
}
.header.scroll-up.inner-header{
    position: fixed;
}
.header.inner-header .nav-item .nav-link{
  color: var(--text-clr);  
}

.header.inner-header .nav-item .nav-link:hover{
    background: var(--text-clr);
    color: var(--clr-hover);
}

.header.inner-header .navbar{
    padding-top: 10px;
    padding-bottom: 10px;
}

.header.inner-header .btn-light{
    color: var(--text-clr);
    border-color: var(--text-clr);
}

.header.inner-header .btn-primary{
    background: none;
    color: var(--text-clr);
}

.header.inner-header .btn-primary:hover{
    background: var(--text-clr);
    color: #fff;
}

.header .navbar {
    padding-top: 20px;
    padding-bottom: 20px;
}

.header .navbar-brand img{
    width: 150px;
    height: auto;
}

.header .nav-item .nav-link{
    color: #fff;
    margin: 0 5px;
    font-size: 17px;
}

.header .nav-item .nav-link:hover{
    background: var(--text-clr);
}

.dropdown-toggle::after{
    vertical-align: middle;
}

.navbar-nav .dropdown-menu{
    border-radius: 0;
    padding: 0;
    border: 0;
    box-shadow: 0px 0px 4px 0px rgb(0 0 0 / 15%);
}

.dropdown-item{
    padding: 8px 10px;
    font-size: 14px;
    font-family: var(--sans-plan);
}

.dropdown-item.active, .dropdown-item:active,.dropdown-item:focus, .dropdown-item:hover{
    background: var(--clr-hover);
    color: #fff;
}

.hero{
    height: 100vh;
    background: url('../images/hero-bg.webp') no-repeat;
    background-position: 40% 43%;
}

.hero video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-block{
    background: #F8F5EF;
}

.about-us p{
    text-align: justify;
}

.title-block h2{
    font-family: var(--sans-plan);
    font-size: 40px;
    margin-bottom: 20px;
}
.title-block h3{
    color: var(--clr-hover);
    font-family: var(--sans-plan);
    font-size: 40px;
}

.gallery-about img{
    max-width: 100%;
    width: 100%;
    height: 242px;
    object-fit: cover;
}


.counter .counter-block label{
    font-size: 30px;
    font-family: var(--sans-bold);
}
.counter .counter-block h4{
    font-size: 16px;
    font-family: var(--sans-light);
}

.about-services img{
    height: 380px;
}

.about-services h3{
    font-family: var(--sans-bold);
    font-size: 22px;
}

.about-services p{
    text-align: justify;
}

.card-project .img-project{
    height: 600px;
    object-fit: cover;
}

.card-project .type-project{
    background: rgb(49 56 83 / 85%);
    color: #FFFFFF;
    padding: 15px 20px 15px 20px;
    font-family: var(--sans-plan);
    position: absolute;
    top: 15px;
    left: 15px;
}
.card-project .info-project{
    background: #000000;
    background: linear-gradient(0deg,rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.87) 27%, rgba(0, 0, 0, 0.73) 55%, rgba(0, 0, 0, 0.51) 80%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    bottom: 0;
    width: 100%;
}
.card-project .info-project label i{
    font-size: 20px;
}

.card-project .info-project h2{
   font-size: 25px;
   font-family: var(--sans-plan);
}

.card-project .info-project span{
    font-family: var(--sans-plan);
}

.projects-slider .owl-nav{
    position: absolute;
    top: -100px;
    left: 20px;
}

.projects-slider .owl-nav button{
    width: 56px;
    height: 56px;
    border: 1px solid var(--text-clr) !important;
    padding: 13px 15px;
    color: var(--text-clr);
    transition: 0.3s;
}

.projects-slider .owl-nav button:hover{
    background: var(--clr-hover);
    color: var(--text-clr);
    border-color: var(--clr-hover) !important;
}

.projects-slider .owl-nav button:hover i{
    color: #fff;
}
.projects-slider .owl-nav button.owl-next{
    margin-right: 10px;
}

.explore{
    height: 113vh;
}
.explore:after{
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 50%);
    z-index: 8;
}

.explore video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.explore .card-explore{
    bottom: 40px;
    left: 40px;
    z-index: 9;
}

.card-explore .btn-primary{
    padding: 10px 35px;
}

.explore .card-explore h2{
    font-family: var(--sans-plan);
    font-size: 25px;
    margin-bottom: 15px;
    width: 350px;
}

.explore .card-explore h2 span{
    color: var(--clr-hover);
}

.services{
    background: var(--text-clr);
}

.services-block img{
    height: 35px;
    width: auto;
}

.services-block label{
    font-size: 24px;
    line-height: 30px;
}

.lifestyle .title-block p{
    width: 90%;
}

.lifestyle .title-block a{
    font-family: var(--sans-bold);
}

.lifestyle .title-block a:hover{
    color: var(--clr-hover);
}

.lifestyle-gallery{
    grid-template-columns: repeat(2, 1fr);
    direction: ltr;
    margin-top: -250px;
}

.lifestyle-gallery img{
    width: 100%;
    height: auto;
    max-height: 650px;
    object-fit: cover;
}
.lifestyle-imgs:nth-child(2) {
    transform: translateY(40%);
}

.news{
    background: var(--text-clr);
}
.news img{
    height: 400px;
    object-fit: cover;
}

.post-news h2{
    font-size: 25px;
    font-family: var(--sans-plan);
}

.post-news time{
    color: var(--clr-hover);
    font-family: var(--sans-plan);
}

.btn-more i{
    font-size: 13px;
}

.post-news .btn-more:hover{
    color: var(--clr-hover) !important;
    border-bottom: 1px solid var(--clr-hover) !important;
}

.news .btn-light{
    padding: 8px 25px;
    border: 1px solid rgb(255 255 255 / 30%);
}

.news .btn-light:hover{
    background: var(--clr-hover);
    color: #fff;
}

.apps img{
    height: 500px;
    width: auto;
    max-width: 100%;
}

.inf-apps h2{
    font-size: 28px;
    font-family: var(--sans-plan);
}

.inf-apps h2 span{
    color: var(--clr-hover);
}

.apps-downloade a img{
    max-width: 190px;
    height: 55px;
    width: auto;
}

/*.inf-apps .btn{
    width: 185px;
    font-family: var(--sans-plan);
}

.inf-apps .btn i{
    font-size: 20px;
}

.inf-apps .btn-light{
    color: var(--text-clr);
    border: 1px solid var(--text-clr);
}

.inf-apps .btn-light:hover{
    background: var(--clr-hover);
    color: #fff;
    border: 1px solid var(--clr-hover);
}*/

.companies{
    background: #F8F5EF;
}

.companies h2{
    font-size: 28px;
    font-family: var(--sans-plan);
}

.companies img{
    height: 40px;
    width: auto;
}

.thumbnail img{
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.footer{
    background: var(--text-clr);
}

.footer-links h2{
    font-size: 18px;
    font-family: var(--sans-bold);
}

.footer-links a:hover , .copyright .terms a:hover{
    color: var(--clr-hover) !important;
}

.social-links ul li a{
   width: 40px;
   height: 40px;
   border: 1px solid #fff;
   border-radius: 50%;
}

.social-links ul li a:hover{
    background: #fff;
    color: var(--text-clr) !important;
}

.copyright{
    border-top: 1px solid #20304A;
}

.copyright .footer-logo img{
    width: 140px;
}

.copyright label , .copyright .terms a{
    color: #8A919C;
}

.copyright .terms i{
    color: #8A919C;
    font-size: 6px;
}

.intro-about{
    background: #F8F5EF;
    padding-top: 100px;
    padding-bottom: 100px;
    height: 60vh;
}

.intro-about h1{
    color: var(--clr-hover);
    font-size: 50px;
    margin-bottom: 20px;
    font-family: var(--sans-plan);
}
.intro-about h2{
    font-size: 50px;
    font-family: var(--sans-light);
    line-height: 70px;
}
.back-about{
    height: 600px;
    background: url(../images/back-about.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.about-page .about-us{
    background: #F8F5EF;
}

.block-vison h3{
    color: var(--clr-hover);
    font-size: 25px;
    font-family: var(--sans-plan);
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 2px solid var(--clr-hover);
    display: table;
}

.inner-about-services{
    background: url(../images/back-serv.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.holder-services label{
    color: #fff;
    font-size: 30px;
    font-family: var(--sans-light);
}
.holder-services p{
    color: #fff;
    font-size: 30px;
    font-family: var(--sans-plan);
}

.holder-services p span{
    color: var(--clr-hover);
}

.services-counter ul li{
    font-size: 18px;
    border-top: 1px solid #79726C;
}

.services-counter a{
    font-size: 24px;
    font-family: var(--sans-plan);
    border-top: 1px solid #79726C;
}
.services-counter a span{
    color: var(--clr-hover);
}

.services-counter a i{
    font-size: 20px;
}

.manager-block img{
    width: 85%;
    margin-bottom: 10px;
    aspect-ratio: 1 / 1.2;
    object-fit: cover;
}

.manager-block h4{
    font-size: 18px;
    font-family: var(--sans-bold);
    color: var(--clr-hover);
    margin-bottom: 5px;
}
.manager-block label{
    font-size: 16px;
    font-family: var(--sans-light);
    color: var(--clr-hover);
}

.intro-ceo-msg{
    background: var(--text-clr);
    height: 500px;
}

.ceo-word img{
    height: 400px;
    width: auto;
}

.img-subs-details img{
    width: 100%;
    height: auto;
}

.img-subs-details label{
    font-family: var(--sans-light);
    font-weight: bold;
    font-size: 17px;
}

.subs-details h2{
    font-family: var(--sans-bold);
    font-size: 20px;
}

.subs-details p{
    text-align: justify;
}

.subs-details .border-bottom{
    border-bottom: 1px solid #D0D3D7 !important;
}

.subs-details .border-bottom:last-child{
    border-bottom: 0 !important;
}

.history-card h2{
    font-size: 20px;
    color: #fff;
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 9;
}

.history-card img{
    height: 350px;
}

.history-card:after{
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: #14223880;
    z-index: 8;
}

.date-card:before{
    content: '';
    position: absolute;
    width: calc(100% + 10px);
    height: 1px;
    top: 10px;
    background: var(--text-clr);
}

.date-card i{
    position: absolute;
    top: 3px;
    right: 50%;
    transform: translateX(150%);
}

.date-card label{
    font-family: var(--sans-bold);
}

.slider-history .owl-nav{
    position: absolute;
    bottom: 25px;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.slider-history .owl-nav button i{
    font-size: 25px;
}

.slider-history .owl-nav button:hover i{
    color: var(--clr-hover);
}

.owl-carousel .owl-nav button.disabled{
    opacity: 0.2;
}

.services-card img{
    width: 100%;
    max-height: 355px;
}

.services-card h2{
    font-family: var(--sans-bold);
    font-size: 22px;
}
.services-card p{
    text-align: justify;
}
.services-card .border-bottom{
    border-bottom: 1px solid rgb(20 34 56 / 30%) !important;
}
.services-card .border-bottom:last-child{
    border-bottom: 0 !important;
}
.services-card i{
    position: absolute;
    right: 0;
    top: -35px;
    color: #1422381A;
    font-family: var(--sans-plan);
    font-size: 70px;
    font-style: normal;
}
.intro-projects{
    background: url(../images/back-pro.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.intro-projects:before{
    content: '';
    position: absolute;
    inset: 0;
    background: rgb(0 0 0 / 60%);
    width: 100%;
    height: 100%;
    z-index: 0;
}
.project-card img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.project-card h2{
    font-size: 32px;
}

.project-card .badge{
    background-color: #F3F8FF;
    font-family: var(--sans-light);
    font-weight: 500;
    color: var(--text-clr);
    border-radius: 50px 50px 50px 50px;
    padding: 12px 24px;
    font-size: 18px;
}

.news-page .intro-about{
    height: auto;
}

.news-page .post-news h2{
    color: var(--text-clr);
    font-size: 22px;
    font-family: var(--sans-plan);
    line-height: normal;
}

.content-news{
    background: #f8f5ef;
}

/*.news-single .latest-news{
    background: #f8f5ef;
}
*/
.latest-news .card{
    border: 0;
    border-radius: 0;
}

.latest-news .card h5{
    font-size: 18px;
    font-family: var(--sans-plan);
}

.latest-news .card time{
    color: var(--clr-hover);
}

.latest-news h2{
    font-size: 28px;
}

.slider-news .owl-nav{
    position: absolute;
    top: -70px;
    left: 0;
}

.slider-news .owl-nav button , .gallery-project .owl-nav button{
    width: 45px;
    height: 45px;
    border: 1px solid #ededed !important;
    padding: 13px 15px;
    color: var(--text-clr);
    transition: 0.3s;
}

.slider-news .owl-nav button:hover , .gallery-project .owl-nav button:hover{
    background: var(--clr-hover);
    color: var(--text-clr);
    border-color: var(--clr-hover) !important;
}

.slider-news .owl-nav button:hover i , .gallery-project .owl-nav button:hover i{
    color: #fff;
}
.slider-news .owl-nav button.owl-next , .gallery-project .owl-nav button.owl-next{
    margin-right: 10px;
}
.intro-jobs{
    background: url(../images/jobs-back.webp) no-repeat;
    background-size: cover;
    background-position: center;
}

.form-jobs h2{
    font-size: 40px;
    font-family: var(--sans-plan);
}

.form-jobs h2 span{
    color: var(--clr-hover);
}

.notes{
    font-family: var(--sans-plan);
}
.accordion{
    border: 0;
    border-radius: 0;
}
.accordion-item{
    border: 0;
    margin-bottom: 5px;
}
.accordion-item .accordion-header .accordion-button{
    border-radius: 0;
    font-size: 25px;
    font-family: var(--sans-light);
    background: #f8f8f8;
    box-shadow: none;
}
.accordion-body p{
    font-size: 20px;
    margin-bottom: 0;
}
.accordion-item:first-of-type>.accordion-header .accordion-button{
    border-radius: 0;
}
.accordion-button:not(.collapsed){
    color: var(--clr-hover);
}
.contact-block{
    background: #F8F5EF;
}

.contact-block h2{
    color: var(--clr-hover);
    font-size: 20px;
    font-family: var(--sans-plan);
}
.contact-block h3{
    color: var(--text-clr);
    font-size: 20px;
    font-family: var(--sans-plan);
}

.contact-info label{
    font-family: var(--sans-plan);
    font-size: 25px;
}
.contact-info span{
    font-size: 20px;
    color: var(--clr-hover);
}

/*.intro-about{
    background: url(../images/contact.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}*/

.single-project .intro-about a{
    font-size: 25px;
}

.projects-info{
    background: #F8F5EF;
}

.pro-info label{
    font-family: var(--sans-plan);
    font-size: 22px;
    color: var(--text-clr);
}
.pro-info span {
    font-size: 20px;
    color: var(--clr-hover);
}
.pro-details h3{
    font-size: 20px;
    font-family: var(--sans-light);
    font-weight: bold;
    margin-bottom: 5px;
}
.pro-details p{
    font-family: var(--sans-light);
    margin-bottom: 25px;
}

.pro-details .link-interest{
    font-family: var(--sans-plan);
    font-weight: bold;
}

.pro-details .link-interest:hover{
    color: var(--clr-hover);
}

.back-single-project{
    height: 100vh;
    background-size: cover !important;
    background-position: center !important;  
}
.back-single-project:before{
    content: '';
    position: absolute;
    inset: 0;
    background: rgb(0 0 0 / 60%);
    width: 100%;
    height: 100%;
    z-index: 0;
}


.gallery-project .owl-nav{
    position: absolute;
    bottom: 20px;
    left: 0;
}
.gallery-project .owl-nav button{
    border-color: var(--clr-hover) !important;
}
.about-project p{
    text-align: justify;
}
.about-project .btn-light{
    color: var(--text-clr);
    border: 1px solid var(--text-clr);
}
.about-project .btn-light:hover{
    color: var(--clr-hover);
}
.about-project img{
    height: auto;
    width: 100%;
    max-height: 600;
}
.back-pro{
    height: 600px;
    background: url(../images/back-pro.webp) no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.scroll {
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 50%;
    position: relative;
    animation: down 1.5s infinite;
    -webkit-animation: down 1.5s infinite;
    &::before {
        content: '';
        position: absolute;
        top: 15px;
        left: 17px;
        width: 13px;
        height: 13px;
        border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
        transform: rotate(-45deg);
    }
}

@keyframes down {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translateY(15px);
    }
    40% {
        transform: translate(0);
    }
}

@-webkit-keyframes down {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translateY(15px);
    }
    40% {
        transform: translate(0);
    }
}


.ticker label{
    font-size: 17px;
    font-family: var(--sans-plan);
}

.ticker labe time{
    display: block;
}

.investors .intro-about p{
    font-size: 25px;
}

.invest-content .nav-link{
    border-radius: 0;
    border: 1px solid var(--text-clr);
    margin-bottom: 5px;
    font-family: var(--sans-bold);
    color: var(--text-clr);
}
.invest-content .nav-pills .nav-link:hover , .invest-content .nav-pills .nav-link.active{
    background: var(--text-clr);
    color: var(--clr-hover);
}
.tab-content{
    background: #f8f8f8;
}
.sub-tabs .nav-link.active{
    background: var(--text-clr) !important;
    color: #fff !important;
}
.block-report h4{
    font-family: var(--sans-bold);
    font-size: 20px;
}
.block-report .btn{
    width: 110px;
    font-family: var(--sans-bold);
}
.block-report .btn-light{
    padding: 13px 30px;
    color: var(--clr-hover);
    border-color: var(--clr-hover);
}
.block-report .btn-light:hover{
    color: #fff;
}
.news-single .btn-back{
    color: rgb(183, 187, 194);
}

.news-single .btn-back:hover{
    color: var(--text-clr);
}

.news-single h1{
    font-family: var(--sans-bold);
    font-size: 25px;
}

.news-single time{
    font-family: var(--sans-plan);
    text-align: left;
}

.news-single .post-thumbnail{
    width: 100%;
    height: auto;
    max-height: 700px;
    object-fit: cover;
}

.news-single p{
    text-align: justify;
}